body {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  line-height: 1;
  margin-bottom: 5%;
  margin-left: 15%;
  margin-right: 15%;
  background-image: url(./body-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid;
}

.jumbotron {
  background-image: url(./coverphoto.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: right;
  margin-bottom: 0%;  
}


.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid;
}

.hour {
  background-color: #ffffff;
  opacity: 0.5; 
  color: #685033;
  border-top: 1px solid #685033; 
  text-align: right;
  font-weight: bolder;
  font-size: 25px;
  padding-top: 3%;
  font-family: 'Oswald', sans-serif;
}

.past {
  background-color:#c7c7c7;
  color: #685033;
  font-family: 'Roboto', sans-serif;
}

.present {
  background-color: #491795;
  color: black;
  font-family: 'Roboto', sans-serif;
}

.future {
  background-color: #b89a66;
  color: black;
  font-family: 'Roboto', sans-serif;
}

.saveBtn {
  border-left: 1px solid;
  background-position:right;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  color: #685033;
  font-size: 18px;
  font-weight: bolder;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

 
#title {
  color: #685033;
  font-family: 'Dancing Script', cursive;
  padding-top: 7%;
  font-size: 65px;
}

#location  {
    font-size: 20px;
}

.jumbotron, #weather {
  padding-top: 1%;   
}

#temp {
  font-size: 35px;
  color: #685033;
}

.lead {
  font-family: 'Dancing Script', cursive;  
  padding-bottom: 3%;
  font-size: 25px;
}

#currentDay {
  font-size: 20px;
  font-weight: bold;
  color: #685033;
  font-family: 'Oswald', sans-serif;
}